### 4. Flag set of APMC/mandis and commodities with highest price fluctuation across different commodities in each relevant season, and year.

In [1]:
import pandas as pd
from scipy import stats

In [2]:
def highest_price_fluctuation_commodities(df): #return name of commodities with highest price (max_price) fluctuation in each APMC
    data=[]
    commodities=df["combination_label"].unique().tolist()
    for commodity in commodities:
        df_temp=df[df["combination_label"]==commodity]
        value=stats.variation(df_temp["max_price"]) # variation coeff = mean/(std deviation)
        data.append((commodity,value))
        
    data.sort(key=lambda x: x[1],reverse= True)
    data=[x[0] for x in data[:20]] #top 20 APMC commodities cluster name
    return data

In [3]:
df=pd.read_csv("seasonal_data_analysis.csv")
df.head()

,APMC,Commodity,Year,Month,arrivals_in_qtl,min_price,max_price,modal_price,date,district_name,state_name,quarter,combination_label
0,Akole,gram,2014,September,17,3000,3133,3067,2014-09-01,Ahmadnagar,Maharashtra,3,Akole:gram
1,Akole,gram,2014,October,32,3000,3200,3100,2014-10-01,Ahmadnagar,Maharashtra,4,Akole:gram
2,Akole,gram,2014,November,59,3194,3300,3230,2014-11-01,Ahmadnagar,Maharashtra,4,Akole:gram
3,Akole,gram,2014,December,9,3200,3300,3235,2014-12-01,Ahmadnagar,Maharashtra,4,Akole:gram
4,Akole,gram,2015,January,11,3200,3300,3250,2015-01-01,Ahmadnagar,Maharashtra,1,Akole:gram

#### Top 20 APMC and Commodities highest price fluctuations

In [4]:
fluctuation=highest_price_fluctuation_commodities(df)
fluctuation

['Barshi:lemon',
 'Barshi:flower',
 'Barshi:tomato',
 'Barshi:cucumber',
 'Barshi:capsicum',
 'Barshi:bitter gourd',
 'Pune:squash gourd',
 'Barshi:green chilli',
 'Mumbai:squash gourd',
 'Barshi:cabbage',
 'Kamthi:spinach',
 'Kalmeshwar:coriander  ',
 'Aurangabad:papai',
 'Anajngaon Surji:chillies(red)',
 'Kurdwadi:gram',
 'Rahata:bottle gourd',
 'Vai:tomato',
 'Kamthi:tomato',
 'Karad:apple',
 'Ratanagari:green-peas']

#### APMC/mandis and commodities with highest price fluctuation across different commodities in each relevant season, and year.

In [5]:
data_main=pd.DataFrame()
for commodity in fluctuation:
    
    # Setting the bar high with a range of upto 3 SD above the mean
    value=df[df["combination_label"]==commodity]["max_price"].std()*3
    
    # If a APMC/Commodity value for any month/year crosses 3 SDs i.e 99 percentile, then that has high price fluctuation
    df_temp=df[(df["combination_label"]==commodity)&(df["max_price"]>value)]
    df_temp=df_temp[["APMC","Commodity","Month","Year","max_price"]]
    data_main=pd.concat([data_main,df_temp])
data_main.reset_index(drop=True)

               APMC      Commodity      Month  Year  max_price
0            Barshi         flower        May  2016        521
1            Barshi         flower       June  2016        659
2            Barshi         tomato  September  2016        627
3            Barshi       cucumber       June  2016        555
4            Barshi       cucumber       July  2016        576
5            Barshi       capsicum     August  2015       1392
6            Barshi       capsicum   November  2016       1300
7            Barshi   bitter gourd        May  2016       1126
8            Barshi   bitter gourd       June  2016       1300
9            Barshi   bitter gourd     August  2016       1440
10             Pune   squash gourd       June  2016       6300
11           Barshi   green chilli       June  2016       1486
12           Barshi   green chilli  September  2016       1158
13           Barshi   green chilli    October  2016       1031
14           Mumbai   squash gourd      April  2016       3550
15           Mumbai   squash gourd        May  2016       3952
16           Mumbai   squash gourd       July  2016       3283
17           Barshi        cabbage        May  2016        333
18           Kamthi        spinach    October  2014       3232
19           Kamthi        spinach       July  2015       3080
20           Kamthi        spinach       July  2016       3268
21           Kamthi        spinach     August  2016       3574
22       Kalmeshwar    coriander    September  2015       6238
23       Kalmeshwar    coriander      October  2015       5331
24       Kalmeshwar    coriander         June  2016       6423
25       Kalmeshwar    coriander         July  2016       6122
26       Kalmeshwar    coriander      October  2016       5438
27       Aurangabad          papai       July  2015       2000
28       Aurangabad          papai       June  2016       3047
29       Aurangabad          papai     August  2016       2233
30  Anajngaon Surji  chillies(red)   December  2015      40500
31         Kurdwadi           gram     August  2015      14802
32           Rahata   bottle gourd      April  2016       2180
33           Rahata   bottle gourd        May  2016       2114
34           Rahata   bottle gourd       June  2016       2681
35           Rahata   bottle gourd       July  2016       2108
36              Vai         tomato  September  2014       2590
37              Vai         tomato    January  2015       3385
38              Vai         tomato   November  2015       3146
39              Vai         tomato   December  2015       2828
40           Kamthi         tomato       July  2015       3780
41           Kamthi         tomato   November  2015       3250
42           Kamthi         tomato       June  2016       3560
43            Karad          apple        May  2016      24000
44            Karad          apple       June  2016      24154
45            Karad          apple       July  2016      26762
46            Karad          apple     August  2016      26385
47            Karad          apple  September  2016      21717
48       Ratanagari     green-peas      April  2015       9000
49       Ratanagari     green-peas        May  2015       8500
50       Ratanagari     green-peas        May  2016       9800
51       Ratanagari     green-peas       June  2016      10000

In [6]:
data_main.to_csv(" Flagsetfluctuation.csv",index=False)